header {
    text-align: center;
}

nav ul.header-menu li {
    display: inline-block;
    margin: 10px 80px;
}

section.article h2 {
    margin: 50px auto;
}

section.article article {
    width: 75%;
    margin: auto;
}

article section.small-article p {
 text-align: justify;
}