body {
    font-size: 16px;
    font-style: oblique;
}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
}

p {
    font-weight: 600;
    font-size: 3em;
}

ul {
    background-color: orangered;
}

.BGstyle {
    background-color: orchid;
}

.listDecoration {
    line-height: 30px;
    text-decoration: underline;
}

#changeBGcolorFirstItemList {
    background-color: yellow;
}

#changeBGcolorSecondItemList {
    background-color: red;
}

#changeBGcolorThirdItemList {
    background-color: brown;
}